
body{
    background-color: #6e2f01;
    text-align: center;
}
.list1 {
    justify-content: center;
    display: flex;
}
li {
    padding-bottom: 1rem;
}
#img-div {
    background-color: beige;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;
}    
img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}